# GitHub Personal Access Token with repo scope
GITHUB_TOKEN=
# Slack Bot Token
SLACK_TOKEN=
# Jira API Token and user information
JIRA_USER=
JIRA_TOKEN=
JIRA_HOST=
# Discord Webhook URL
DISCORD_WEBHOOK_URL=
# The port the server will run on
PORT=3001